<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <style>
        body {font-family:calibri; font-size:12pt}
        h2 {font-size:18pt;color:blue}
        .banner {background-color:red; color:white;font-size:20pt; font-family:Arial;}
        .menu { font-weight:bold;background-color:silver;font-family:verdana}

    </style>
</head>
<body>
<div class="banner">Employees</div>
<div class="menu">
    <a href="/catalog/employees/">Home</a>
    <a href="/catalog/addemployee/">Add</a>
</div>

{% block body %}
{% endblock %}

</body>
</html>